
/* nugents property print  remover contact-us and property search dropdowns for printing*/

.denali_header_dropdown_links,
.menu-header-menu-container,
.menu-navigation-container,
.menu-gobal-menu-container,
.property-title-menu,
#respond,
.bottom_of_page_menu,
.footer_right_elements,
.mortgage-repayment
{	
	display : none;
}

.wpptopdfenh{
	display : none;
}

.bmo_the_gallery_thumb_area {
	display : none;
}

.header_business_card {
	font-size : large !important;	
}

.qr-code {
	display : block;
}






